[submodule "cc/libcc/3rd/Divert"]
	path = cc/libcc/3rd/Divert
	url = https://github.com/basil00/Divert
[submodule "cc/libcc/3rd/lwip"]
	path = cc/libcc/3rd/lwip
	url = https://github.com/lwip-tcpip/lwip
[submodule "cc/libcc/3rd/PcapPlusPlus"]
	path = cc/libcc/3rd/PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus
[submodule "cc/libgx"]
	path = cc/libgx
	url = https://github.com/weproxy/libgx
